footer {
      background-color: #555;
      color: white;
      padding: 15px;
       }
    
nav {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

/* Para pantallas pequeñas */
@media screen and (max-width: 767px) {
      .sidenav {
            height: auto;
            padding: 15px;
               }
      .row.content {height: auto;} 
    }